.canvas{
    width:100%;
    height: 100%;
}

.license{
    color: black;
    font-size: xx-small;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: max(min(20%, 200px),80%);
    text-align: end;
}

.license>a{
    color: black;
}